<!doctype html>
<html lang="en-US" edition="">
<head>
  <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
  <title>EyeLearn!</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">






  <link href='https://fonts.googleapis.com/css?family=Karla:700,400|Roboto+Mono:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/gameview.css">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.15.3"> </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.7.22/fabric.min.js"></script>

  <!--<script src='https://code.responsivevoice.org/responsivevoice.js'></script>-->
  <script src='https://code.responsivevoice.org/1.5.4/responsivevoice.js'></script>
    <script src ="/static/doodle.js" type="text/javascript"> </script>

</head>
<body>
<div id="content-wrapper">




<div id="gameview">
    <div class="topbar">
        <div id="topbar-text">Doodle: {{scramble}}</div>
        <div id="clock" class="text-blink">
            <div id="clock-time">00:30</div>
        </div>
        <div id="topbar-buttons">
            <button class="button button-gray " id="button-clear" onclick ='erase()'>
                <span class="icon icon-undo"></span>
            </button>
            <form method="post" action='/answer' style="display:inline;">
            <button type="submit" name="path" value="/doodle" class="button button-gray " id="button-skip">
                <span class="icon icon-skip"></span>
            </button>
            </form>
            <form method="get" action='/endgame' style="display:inline;">
            <button type="sumbit" class="button button-close">
            </button>
            </form>
        </div>
    </div>

    <div id="speechbubble-wrapper">
        <div id="machine-speechbubble">
            <div id="machine-speechbubble-secondary"></div>
            <div id="machine-speechbubble-primary">...</div>
        </div>
        <div id="machine-speechbubble-tip"></div>
    </div>

    <canvas id="canvas" resize="true"></canvas>

    <form id="send" action='/checkguess' method="POST" enctype='application/json'>
        <input type="hidden" name="guess" value=""/>
        </form>
</div>

    <script>
	console.log('starting');
	document.addEventListener("load", start('en', '{{scramble}}', '{{model}}', '{{language}}', '{{answer}}'));
</script>

    <script>
    var timeLeft = 30;
    var elem = document.getElementById('clock-time');

    var timerId = setInterval(countdown, 1000);

    function countdown() {
      if (timeLeft == 0) {
        elem.innerHTML = "<span style='color:#FF5000;'>00:00 </span>";
        if('{{language}}' === 'fr') {
            document.getElementById('machine-speechbubble-primary').innerHTML = "Je suis désolé, meilleure chance la prochaine fois!";
            responsiveVoice.speak("Je suis désolé, meilleure chance la prochaine fois!", "French Female");

            }
        else if('{{language}}' === 'es') {
            document.getElementById('machine-speechbubble-primary').innerHTML = "Lo siento, mejor suerte la próxima vez!";
            responsiveVoice.speak("Lo siento, mejor suerte la próxima vez.!", "Spanish Male");

            }
            clearTimeout(timerId);
            sendIncorrectGuess()
      } else {
        if(timeLeft < 10){
            elem.innerHTML = "<span style='color:#FF5000;'>00:0" + timeLeft + "</span>";
        }
        else {
            elem.innerHTML = '00:' + timeLeft;
        }
        timeLeft--;
      }
    }
    </script>














</div>
</body>
</html>