<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Righteous" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<title>EyeLearn!</title>
      <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='favicon/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='favicon/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='favicon/favicon-16x16.png')}}">

  <style>
  .crt_container{
  overflow:hidden;
  font-family:arial;
  width:100%;
  height:100%;
  border:15px solid #00a5ff;
    border-right:15px solid #0894fb;
      border-left:15px solid #0894fb;
  margin:auto;
  display:table;
  padding:25px 10px;
  position:relative;
}
</style>

<div id="printable">


  <div class="crt_container" style="text-align:center;">
    <div style="vertical-align:middle !important;">
    <img src="{{url_for('static', filename='landing_images/logo.PNG')}}">
    <h1 style="font-family:'Fredoka One', cursive; color:#00a5ff !important;">Custom {{category}} Book For:</h1>
    <h1 style="font-family:'Fredoka One', cursive !important;">{{classname}}</h1>
    <h1 style="font-family:'Fredoka One', cursive; color:#00a5ff !important;">Date:</h1><h1 style="font-family:'Fredoka One', cursive;">{{date}}</h1>
    </div>
  </div>
{% for page in pages %}
  <div class="crt_container" style="text-align:center">
  <div class="container-fluid">
    <h1 style="font-family:'Fredoka One', cursive;text-align:center;">{{classname}}'s Custom {{category}} Book Page {{loop.index}}</h1>
    {% for i in range(page|length) %}
    {% if loop.index0 % 2 == 0 %}

      <div class="row">
      <div class="col-sm-6">
                <img src="{{page[i]}}" style="height:200px"><br>
                  </div><br>
      {% elif loop.last %}
        <div class="col-sm-6">
                <img src="{{page[i]}}" style="height:200px"><br>
                  </div><br>
      </div>
  </div>
  </div>
      {% else %}
        <div class="col-sm-6">
                <img src="{{page[i]}}" style="height:200px"><br>
                  </div><br>

    </div>

      {% endif %}
      {% endfor %}
  {% endfor %}

</div>

<style>
@media print {
   .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
   }
   .col-sm-12 {
        width: 100%;
   }
   .col-sm-11 {
        width: 91.66666667%;
   }
   .col-sm-10 {
        width: 83.33333333%;
   }
   .col-sm-9 {
        width: 75%;
   }
   .col-sm-8 {
        width: 66.66666667%;
   }
   .col-sm-7 {
        width: 58.33333333%;
   }
   .col-sm-6 {
        width: 50%;
   }
   .col-sm-5 {
        width: 41.66666667%;
   }
   .col-sm-4 {
        width: 33.33333333%;
   }
   .col-sm-3 {
        width: 25%;
   }
   .col-sm-2 {
        width: 16.66666667%;
   }
   .col-sm-1 {
        width: 8.33333333%;
   }

   @page {  size: landscape;
            margin: 0; }
   body { margin: 1.6cm;}


}
</style>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
        $( window ).on("load", function() {
            var printContents = document.getElementById('printable').innerHTML;
             var originalContents = document.body.innerHTML;

             document.body.innerHTML = printContents;

             window.print();
             window.close()
        });

	</script>